html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
}

header,
footer {
  display: flex;
  align-items: center;
  background-color: black;
  padding: 10px;
  width: calc(100% - 20px);
}

header {
  justify-content: flex-end;
  height: 30px;
}

footer {
  height: 30px;
}

main {
  height: calc(100% - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .gameArea {
  height: 800px;
  width: 800px;
  max-height: 100%;
  max-width: 100%;
}
main .gameArea .table {
  padding: 100px;
  height: calc(100% - 200px);
  width: calc(100% - 200px);
  position: relative;
}
main .gameArea .table .felt {
  background-color: #6fc391;
  height: 100%;
  width: 100%;
}
main .gameArea .table .card {
  --cardCol: 1;
  --cardRow: 1;
  --position: 0;
  --total: 1;
  position: absolute;
  bottom: calc(100% + 50px);
  transform: translateX(-50%);
  height: 110px;
  width: 80px;
  background: url("../img/cards.gif") no-repeat;
  background-size: 1300% 500%;
  background-position: calc(-1 * 80px * var(--cardCol)) calc(-1 * 110px * var(--cardRow));
  left: calc(50% + var(--position) * 80px / 2 - var(--total) * 80px / 4 + 20px);
}
main .gameArea .table .card.disabled {
  filter: brightness(0.5);
}
main .gameArea .table .player {
  background-color: black;
  width: 30px;
  height: 30px;
  position: absolute;
  border-radius: 50%;
}
main .gameArea .table .player.player3 {
  top: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
}
main .gameArea .table .player.player3 .card {
  top: calc(100% + 50px);
}
main .gameArea .table .player.player3 .card.played {
  top: calc(100% + 50px + 110px + 20px);
}
main .gameArea .table .player.player2 {
  top: 50%;
  left: 50px;
  transform: translate(-50%, -50%);
}
main .gameArea .table .player.player2 .card {
  top: calc(50% + var(--position) * 80px / 3 - var(--total) * 80px / 6 - 40px);
  left: calc(100% + 60px);
  transform: rotate(90deg);
}
main .gameArea .table .player.player2 .card.played {
  left: calc(100% + 60px + 110px + 20px);
}
main .gameArea .table .player.player1 {
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, 50%);
}
main .gameArea .table .player.player1 .card.played {
  bottom: calc(100% + 50px + 110px + 20px);
}
main .gameArea .table .player.player4 {
  top: 50%;
  right: 50px;
  transform: translate(50%, -50%);
}
main .gameArea .table .player.player4 .card {
  top: calc(50% + var(--position) * 80px / 3 - var(--total) * 80px / 6 - 40px);
  right: calc(100% + 60px);
  left: unset;
  transform: rotate(90deg);
}
main .gameArea .table .player.player4 .card.played {
  right: calc(100% + 60px + 110px + 20px);
}
main .gameArea .table .player::after {
  content: "";
  position: absolute;
  display: block;
  background-color: red;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
main .gameArea .table .player::before {
  content: "";
  position: absolute;
  display: block;
  background-color: green;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}/*# sourceMappingURL=main.css.map */