$felt: #6fc391;
$headerHeight: 50px;
$footerHeight: 50px;
$cardHeight: 110px;
$cardWidth: 80px;
$cardGap: 20px;
$cardSpacer: 50px;
$animaHeight: 60px;

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
}
header,
footer {
    display: flex;
    align-items: center;
    background-color: black;
    padding: 10px;
    width: calc(100% - 20px);
}
header {
    justify-content: flex-end;
    height: calc($headerHeight - 20px);
}
footer {
    height: calc($footerHeight - 20px);
}

main {
    height: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .gameArea {
        height: 800px;
        width: 800px;
        max-height: 100%;
        max-width: 100%;
        .table {
            $padding: 100px;
            padding: $padding;
            height: calc(100% - (2 * $padding));
            width: calc(100% - (2 * $padding));
            position: relative;
            .felt {
                background-color: $felt;
                height: 100%;
                width: 100%;
                position: relative;
                .anima {
                    background-color: #fff;
                    height: calc(100% - (2 * ($cardHeight + $cardSpacer)));
                    width: calc(100% - (2 * ($cardHeight + $cardSpacer)));
                    top: 50%;
                    left: 50%;
                    position: absolute;
                    transform: translate(-50%, -50%);
                    border-radius: 8px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    .actions {
                        display: flex;
                        justify-content: space-between;
                        .action {
                            height: 40px;
                            border: 3px solid;
                            border-radius: 8px;
                            flex: 0 0 calc(50% - 10px);
                            display: flex;
                            justify-content: space-around;
                            align-items: center;
                            cursor: pointer;
                            &.disabled {
                                opacity: 0.5;
                                pointer-events: none;
                            }
                        }
                    }
                    .nums {
                        display: flex;
                        padding: 10px;
                        justify-content: space-between;
                        overflow-x: scroll;
                        .num {
                            padding: 10px;
                            margin-right: 10px;
                            background-color: #fff;
                            filter: brightness(0.5);
                            cursor: pointer;
                            border: 3px solid;
                            border-radius: 8px;
                            flex: 0 0 24px;
                            display: flex;
                            justify-content: space-around;
                            align-items: center;
                            &:last-child {
                                margin-right: 0;
                            }
                            &.selected {
                                filter: brightness(1);
                            }
                        }
                    }
                    .suits {
                        display: flex;
                        padding: 10px;
                        justify-content: space-between;
                        .suit {
                            flex: 0 0 40px;
                            height: 46px;
                            background-color: #fff;
                            background: url("../img/cards.gif") no-repeat;
                            background-size: 2300% 1150%;
                            border-radius: 8px;
                            border: 3px solid;
                            cursor: pointer;
                            filter: brightness(0.5);
                            &.hearts {
                                background-position: -15px -56px;
                            }
                            &.spades {
                                background-position: -15px -269px;
                            }
                            &.diamonds {
                                background-position: -15px -163px;
                            }
                            &.clubs {
                                background-position: -15px -375px;
                            }
                            &.selected {
                                filter: brightness(1);
                            }
                        }
                    }
                }
            }
            .card {
                --cardCol: 1;
                --cardRow: 1;
                --position: 0;
                --total: 1;

                position: absolute;
                bottom: calc(100% + $cardSpacer + 5px);
                transform: translateX(-50%);
                height: $cardHeight;
                width: $cardWidth;
                background: url("../img/cards.gif") no-repeat;
                background-size: 1300% 500%;
                background-position: calc(-1 * ($cardWidth * var(--cardCol))) calc(-1 * ($cardHeight * var(--cardRow)));
                left: calc(50% + (var(--position) * $cardWidth / 2) - (var(--total) * $cardWidth / 4) + $cardWidth / 4);
                &.disabled {
                    filter: brightness(0.5);
                }
            }
            .animaAction {
                background-color: #fff;
                border-radius: 8px;
                position: absolute;
                z-index: 1;
                height: $animaHeight;
                width: $animaHeight;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid #000;
                &.open{
                    color: #ffffff;
                    font-size: 12px;
                    font-weight: bold;
                    span{
                        margin-top: 3px;
                    }
                }
                &.hearts,
                &.spades,
                &.diamonds,
                &.clubs{
                    background: url("../img/cards.gif") no-repeat;
                }
                &.hearts {
                    background-position: -23px -72px;
                    background-size: 2300% 1150%;
                }
                &.spades {
                    background-position: -23px -350px;
                    background-size: 2300% 1150%;
                }
                &.diamonds {
                    background-position: -23px -210px;
                    background-size: 2300% 1150%;
                }
                &.clubs {
                    background-position: -23px -488px;
                    background-size: 2300% 1150%;
                }
            }
            .player {
                background-color: black;
                width: 30px;
                height: 30px;
                position: absolute;
                $playerMargin: calc($padding / 2);
                border-radius: 50%;
                &.player3 {
                    top: $playerMargin;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    .card {
                        top: calc(100% + $cardSpacer + 5px);
                        &.played {
                            top: calc(100% + $cardSpacer + $cardHeight + $cardGap - 5px);
                        }
                    }
                    .animaAction {
                        top: calc(100% - 5px + ($cardHeight / 2) + ($animaHeight / 2));
                        left: 50%;
                        transform: translateX(-50%);  
                    }
                }
                &.player2 {
                    top: 50%;
                    left: $playerMargin;
                    transform: translate(-50%, -50%);
                    .card {
                        top: calc(50% + (var(--position) * $cardWidth / 3) - (var(--total) * $cardWidth / 6) - $cardWidth / 2);
                        left: calc(100% + $cardSpacer + 20px);
                        transform: rotate(90deg);
                        &.played {
                            left: calc(100% + $cardSpacer + 10px + $cardHeight + $cardGap);
                        }
                    }
                    .animaAction {
                        left: calc(100% - 5px + ($cardHeight / 2) + ($animaHeight / 2));
                        top: 50%;
                        transform: translateY(-50%);  
                    }
                }
                &.player1 {
                    bottom: $playerMargin;
                    left: 50%;
                    transform: translate(-50%, 50%);
                    .card {
                        &.played {
                            bottom: calc(100% + $cardSpacer + $cardHeight + $cardGap - 5px);
                        }
                    }
                    .animaAction {
                        bottom: calc(100% - 5px + ($cardHeight / 2) + ($animaHeight / 2));
                        left: 50%;
                        transform: translateX(-50%);  
                    }
                }
                &.player4 {
                    top: 50%;
                    right: $playerMargin;
                    transform: translate(50%, -50%);
                    .card {
                        top: calc(50% + (var(--position) * $cardWidth / 3) - (var(--total) * $cardWidth / 6) - $cardWidth / 2);
                        right: calc(100% + 70px);
                        left: unset;
                        transform: rotate(90deg);
                        &.played {
                            right: calc(100% + $cardSpacer + 10px + $cardHeight + $cardGap);
                        }
                    }
                    .animaAction {
                        right: calc(100% - 5px + ($cardHeight / 2) + ($animaHeight / 2));
                        top: 50%;
                        transform: translateY(-50%);  
                    }
                }

                &::after {
                    content: "";
                    position: absolute;
                    display: block;
                    background-color: red;
                    width: 10px;
                    height: 10px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    border-radius: 50%;
                }
                &::before {
                    content: "";
                    position: absolute;
                    display: block;
                    background-color: green;
                    width: 20px;
                    height: 20px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    border-radius: 50%;
                }
            }
        }
    }
}
